<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Narrow Jumbotron Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="../../css/editor.css" rel="stylesheet"> -->

  <!-- Custom styles for this template -->
  <link href="narrow-jumbotron.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="#" style="">docs<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_all_medicine') }}">meds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('addmedicine')}}">add med</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Niko MedHub<br></h3>
    </div>

    <div class="jumbotron">
      <h1 class="display-3">Vendorapp </h1>

    <footer class="footer">
      <p>© Nikolas 2020</p>
    </footer>

  </div>


</body>

</html>