<html>
   <body>
      <form action = "http://localhost:5000/addmedicine_post" method = "POST">
         <p>ID <input type = "number" name = "id" /></p>

         <p>Technical Name<input type = "text" name = "technical_name" /></p>
         <p>Common Name<input type = "text" name = "common_name" /></p>
         <p>price <input type = "number" name = "price" /></p>
         <p>Schedule <input type ="text" name = "schedule" /></p>
         <p>Description <input type ="text" name = "description" /></p>
         <p>Prescription <input type ="text" name = "prescription" /></p>
         <p>Company <input type ="text" name = "company" /></p>
         <p>Image URL <input type ="text" name = "image_url" /></p>
         <p><input type = "submit" value = "submit" /></p>
         
      </form>
   </body>
</html>