<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Add medicine</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../css/editor.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/forms.css">
</head>

<body>
    <div class="contact-us">
        <form action="{{ url_for('addmedicine_post')}}" method="POST">

            <!-- <label for="customerPhone">PHONE</label>
            <input id="customerPhone" name="customerPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" /> -->


            <label for="customerName"> ID <em>&#x2a;</em></label>
            <input id="customerName" name="id" required="" type="number" />

            <label for="customerName"> COMMON NAME <em>&#x2a;</em></label>
            <input id="customerName" name="common_name" required="" type="text" />

            <label for="customerName"> COMPLEX NAME <em>&#x2a;</em></label>
            <input id="customerName" name="technical_name" required="" type="text" />

            <label for="customerName"> PRICE <em>&#x2a;</em></label>
            <input id="customerName" name="price" required="" type="number" />

            <label for="customerEmail"> SCHEDULE <em>&#x2a;</em></label>
            <input id="customerEmail" name="schedule" type="text" />


            <!-- <label for="customerPhone">PHONE</label>
            <input id="customerPhone" name="customerPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" /> -->


            <label for="orderNumber"> PRESCRIPTION</label>
            <input id="orderNumber" name="prescription" type="text" />


            <labelfor="customerNote"> DESCRIPTION <em>&#x2a;</em></label>
                <textarea id="customerNote" name="description" required="" rows="4"></textarea>

                <label for="orderNumber"> COMPANY </label>
                <input id="orderNumber" name="company" type="text" />

                <h3>
                    Please provide all information!.
                </h3>

                <label for="spamProtection"> IMAGE URL <em>&#x2a; </em><span>&nbsp;&nbsp;&nbsp;&nbsp;URL of the
                        image</span></label>
                <input id="spamProtection" name="image_url" type="text" />

                <input class="button" type="submit" value="submit" />
        </form>
        <form action="{{ url_for('dashboard') }}">
            <button class="button" type="submit">Go back</button>
        </form>
    </div>
</body>

</html>